<form action="{% url 'task_form' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_name">Name</label>
        <input type="text" id="id_name" name="name" maxlength="20">
    </div>

    <div class="form-group">
        <label for="id_descritpion">Description</label>
        <input type="text" id="id_descritpion" name="description" maxlength="20">
    </div>

    <div class="form-group">
        <label for="id_start_date">Start Date</label>
        <input type="text" id="id_start_date" name="start_date" maxlength="20">
    </div>

    <div class="form-group">
        <label for="id_end_date">End Date</label>
        <input type="text" id="id_end_date" name="end_date" maxlength="20">
    </div>

    <div class="form-group">
        <label for="id_priority">Priority</label>
        <input type="text" id="id_name" name="name" maxlength="20">
    </div>

    <input type="submit" class="btn-success btn-lg btn-block" value="Submit">
</form>